{{ formName.value | json }}

<form action="" #formName="ngForm">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" ngModel #fname="ngModel"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" ngModel #lname="ngModel"><br><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" ngModel #email="ngModel"><br><br>
  <label for="phone">Phone :</label><br>
  <input type="tel" id="phone" name="phone" ngModel #phone="ngModel"><br><br>
  <label for="language">Your favourite languages : </label>
  <select name="language" id="language" ngModel #language="ngModel">
    <option *ngFor="let language of languages" value="{{ language.name }}">{{ language.name }}</option>
  </select><br><br>
  <input type="submit" value="Submit">
</form>
